In [12]:
# Question 1
#String Variable
a="apple"
print(type(a))
#List
a=[1,2,3,"Apple","Ball"]
print(type(a))
#Float
a=1.5
print(type(a))
#Tuple
a=(1,2,3,"Apple","Ball")
print(type(a))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [16]:
# Question 2
#(i) var1=''
var1=''
print(type(var1))
#(ii) var2='[DS,ML,Python]'
var2='[DS,ML,Python]'
print(type(var2))
#(iii) var3=['DS','ML','Python']
var3=['DS','ML','Python']
print(type(var3))
#(iv) var4 = 1
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [17]:
#Question 3

# Operator - / -> Divison
print(4/2)
# Operator - % -> Remainder
print(5%2)
# Operator - // -> Floor Divison
print(3/2)
# Operator - ** -> Power
print(3**2)

2.0
1
1.5
9

In [20]:
# Question 4

l=["1",34,1.4,"Apple",21,3+2j,True,False,2+4j,2]
for i in l:
    print(i)
    print(type(i))

1
<class 'str'>
34
<class 'int'>
1.4
<class 'float'>
Apple
<class 'str'>
21
<class 'int'>
(3+2j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>
(2+4j)
<class 'complex'>
2
<class 'int'>

In [24]:
# Question 5
A=10
a=A
B=2
if A%B==0:
    D=0
    while A>0:
        D+=1
        A-=B
    print(str(B)+" can divide "+str(a)+" "+str(D)+" times.")

2 can divide 10 5 times.

In [28]:
#Question 6
l=[2,34,27,15,390,251,90,39,46,61,459,555,10,99,1320,832,41,34,66,743,124,56,19,68,89]
for i in l:
    if i%3==0:
        print(str(i)+" is divisible by 3")
    else:
        print(str(i)+" is not divisible by 3")

2 is not divisible by 3
34 is not divisible by 3
27 is divisible by 3
15 is divisible by 3
390 is divisible by 3
251 is not divisible by 3
90 is divisible by 3
39 is divisible by 3
46 is not divisible by 3
61 is not divisible by 3
459 is divisible by 3
555 is divisible by 3
10 is not divisible by 3
99 is divisible by 3
1320 is divisible by 3
832 is not divisible by 3
41 is not divisible by 3
34 is not divisible by 3
66 is divisible by 3
743 is not divisible by 3
124 is not divisible by 3
56 is not divisible by 3
19 is not divisible by 3
68 is not divisible by 3
89 is not divisible by 3

In [1]:
#Question 7

#Mutable -> we can modify the contents in the datatype anytime
#        -> we can perform add,remove and modify elements operations.
# Example: List
l=[1,4,2]
l[2]=12
print(l)

#Mutable -> we can't modify the contents in the datatype and we add a same variable name it creates a new object in the datatype.
#        -> we can't perform add,remove and modify elements operations.
# Example: Tuple
l=(1,2,3)
l[2]=2

[1, 4, 12]

TypeError: 'tuple' object does not support item assignment