## Question 1

We can comment in python using "#" at the starting of the line

In [25]:
# This is an example of single line command.

We can do multi-line comment by using " ''' "

In [26]:
""" This is multi-line
    comment """

' This is multi-line\n    comment '

## Question 2

Variable are the ones which hold data and in python we don't have to specifically define datatype of the variables.

In [27]:
a=10
type(a)

int

In [28]:
b=10.5
type(b)

float

In [29]:
c=True
type(c)

bool

In [30]:
d="String"
type(d)

str

## Question 3

We can convert variables from one data type to another by using in-built functions i.e. int(),float(),str(),bool()

In [31]:
bool(a) # Here can see that a is integer but converted to Boolean Datatype.

True

In [32]:
type(a)

int

In [33]:
str(b) # Here can see that b is Float but converted to String Datatype.

'10.5'

In [34]:
type(b)

float

In [35]:
list(d) # Here can see that d is string but converted to List Datatype.

['S', 't', 'r', 'i', 'n', 'g']

In [36]:
type(d)

str

## Question 4

We can use print() and input() to use python command line

In [37]:
a=input()

 Hello World

In [38]:
print(a)

Hello World

## Question 5

In [40]:
my_list=[1,2,3,4,5]

In [41]:
print(my_list[1:3])

[2, 3]

## Question 6

When we have imaginary number it is called Complex number i.e. 5+1j where 5 is Real Number and 1 is Imaginary Number.

We can also have complex numbers in python in similar way but no other alphabet can be use instead of j for imaginary number.

In [43]:
a=5+1j
type(a)

complex

In [46]:
# We can real number of the complex number 
a.real

5.0

In [48]:
# We can imaginary number of the complex number 
a.imag

1.0

## Question 7

In [50]:
# Correct way to declare a variable and assign value to it
age=25
age

25

## Question 8

In [53]:
price=9.99 # It is of Float datatype
type(price)

float

In [66]:
price=9.9999999999999999 # If have 9 till 16th decimcial point it rounds to next number.
price

10.0

## Question 9

In [67]:
name='Sathvik'

In [68]:
print(name) # we use print() to to print the variables

Sathvik

## Question 10

In [72]:
a="Hello, World!"
print(a[7:12])

World

## Question 11

In [75]:
is_student=True # Boolean values can be assigned to the variables
if is_student :
    print("I am student")
else:
    print("I am not a student")

I am student

In [77]:
is_student=0 # Here 0 is considered as False and 1 as True
if is_student :
    print("I am student")
else:
    print("I am not a student")

I am not a student